<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>siw_pm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KBTediManager</display-name>
    <servlet-name>KBTediManager</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTediManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTediManager</servlet-name>
    <url-pattern>/KBTediManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTediRead</display-name>
    <servlet-name>KBTediRead</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTediRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTediRead</servlet-name>
    <url-pattern>/KBTediRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTediRegister</display-name>
    <servlet-name>KBTediRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTediRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTediRegister</servlet-name>
    <url-pattern>/KBTediRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTorderManager</display-name>
    <servlet-name>KBTorderManager</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTorderManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTorderManager</servlet-name>
    <url-pattern>/KBTorderManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTorderSearch</display-name>
    <servlet-name>KBTorderSearch</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTorderSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTorderSearch</servlet-name>
    <url-pattern>/KBTorderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTnaiji_juchuRegister</display-name>
    <servlet-name>KBTnaiji_juchuRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTnaiji_juchuRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTnaiji_juchuRegister</servlet-name>
    <url-pattern>/KBTnaiji_juchuRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTnaijiChushutsu</display-name>
    <servlet-name>KBTnaijiChushutsu</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTnaijiChushutsu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTnaijiChushutsu</servlet-name>
    <url-pattern>/KBTnaijiChushutsu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTnvanRead</display-name>
    <servlet-name>KBTnvanRead</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTnvanRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTnvanRead</servlet-name>
    <url-pattern>/KBTnvanRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTnvanRegister</display-name>
    <servlet-name>KBTnvanRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTnvanRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTnvanRegister</servlet-name>
    <url-pattern>/KBTnvanRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTkakuteiChushutsu</display-name>
    <servlet-name>KBTkakuteiChushutsu</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTkakuteiChushutsu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTkakuteiChushutsu</servlet-name>
    <url-pattern>/KBTkakuteiChushutsu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTkakutei_juchuRegister</display-name>
    <servlet-name>KBTkakutei_juchuRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTkakutei_juchuRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTkakutei_juchuRegister</servlet-name>
    <url-pattern>/KBTkakutei_juchuRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTsabunSearch</display-name>
    <servlet-name>KBTsabunSearch</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTsabunSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTsabunSearch</servlet-name>
    <url-pattern>/KBTsabunSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTsabunAllSearch</display-name>
    <servlet-name>KBTsabunAllSearch</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTsabunAllSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTsabunAllSearch</servlet-name>
    <url-pattern>/KBTsabunAllSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTsabunAllSearch2</display-name>
    <servlet-name>KBTsabunAllSearch2</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTsabunAllSearch2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTsabunAllSearch2</servlet-name>
    <url-pattern>/KBTsabunAllSearch2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TanpinZaikoRegister</display-name>
    <servlet-name>TanpinZaikoRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.TanpinZaikoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TanpinZaikoRegister</servlet-name>
    <url-pattern>/TanpinZaikoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TanpinZaikoManager</display-name>
    <servlet-name>TanpinZaikoManager</servlet-name>
    <servlet-class>jp.siw.pm.edi.TanpinZaikoManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TanpinZaikoManager</servlet-name>
    <url-pattern>/TanpinZaikoManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopMenu</display-name>
    <servlet-name>TopMenu</servlet-name>
    <servlet-class>jp.siw.pm.edi.TopMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopMenu</servlet-name>
    <url-pattern>/TopMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopMenuManager</display-name>
    <servlet-name>TopMenuManager</servlet-name>
    <servlet-class>jp.siw.pm.edi.TopMenuManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopMenuManager</servlet-name>
    <url-pattern>/TopMenuManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KakuteiKikanSetManager</display-name>
    <servlet-name>KakuteiKikanSetManager</servlet-name>
    <servlet-class>jp.siw.pm.edi.KakuteiKikanSetManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakuteiKikanSetManager</servlet-name>
    <url-pattern>/KakuteiKikanSetManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KakuteiKikanRegister</display-name>
    <servlet-name>KakuteiKikanRegister</servlet-name>
    <servlet-class>jp.siw.pm.edi.KakuteiKikanRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakuteiKikanRegister</servlet-name>
    <url-pattern>/KakuteiKikanRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KakuteikikanDAO</display-name>
    <servlet-name>KakuteikikanDAO</servlet-name>
    <servlet-class>jp.siw.pm.edi.bean.KakuteikikanDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakuteikikanDAO</servlet-name>
    <url-pattern>/KakuteikikanDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KabusokuSearch</display-name>
    <servlet-name>KabusokuSearch</servlet-name>
    <servlet-class>jp.siw.pm.edi.KabusokuSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KabusokuSearch</servlet-name>
    <url-pattern>/KabusokuSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KabusokuCsvController</display-name>
    <servlet-name>KabusokuCsvController</servlet-name>
    <servlet-class>jp.siw.pm.edi.KabusokuCsvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KabusokuCsvController</servlet-name>
    <url-pattern>/KabusokuCsvController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SabunAllCsvController</display-name>
    <servlet-name>SabunAllCsvController</servlet-name>
    <servlet-class>jp.siw.pm.edi.SabunAllCsvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SabunAllCsvController</servlet-name>
    <url-pattern>/SabunAllCsvController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SabunAllCsvController2</display-name>
    <servlet-name>SabunAllCsvController2</servlet-name>
    <servlet-class>jp.siw.pm.edi.SabunAllCsvController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SabunAllCsvController2</servlet-name>
    <url-pattern>/SabunAllCsvController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KBTsabunSearch2</display-name>
    <servlet-name>KBTsabunSearch2</servlet-name>
    <servlet-class>jp.siw.pm.edi.KBTsabunSearch2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KBTsabunSearch2</servlet-name>
    <url-pattern>/KBTsabunSearch2</url-pattern>
  </servlet-mapping>



  <servlet>
    <description></description>
    <display-name>ActOyahinbanSelect</display-name>
    <servlet-name>ActOyahinbanSelect</servlet-name>
    <servlet-class>jp.siw.pa.actoyahinban.ActOyahinbanSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActOyahinbanSelect</servlet-name>
    <url-pattern>/ActOyahinbanSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvImport</display-name>
    <servlet-name>CsvImport</servlet-name>
    <servlet-class>jp.siw.pa.yamazumi.CsvImport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvImport</servlet-name>
    <url-pattern>/CsvImport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YamazumiCreate</display-name>
    <servlet-name>YamazumiCreate</servlet-name>
    <servlet-class>jp.siw.pa.yamazumi.YamazumiCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YamazumiCreate</servlet-name>
    <url-pattern>/YamazumiCreate</url-pattern>
  </servlet-mapping>
</web-app>