@charset "utf-8";
/* CSS Document */

article{
	margin:auto;
	width:850px;
	clear: both;
	padding-top: 10px;

}

section.under{
	margin: auto;
	padding-bottom: 10px;
	border-bottom: dashed 2px #999;
	width: 1350px;
	position: relative;
	right: 240px;
}

section.bottom{
	margin-bottom: 20px;
}

table {
     border-collapse:collapse;
 }

caption{
	text-decoration: none;
	text-align: left;
}

/*****************************************
トップメニュー：submitボタン
******************************************/
.top_button{
	width: 400px;
	height: 50px;
	display       : inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 12px 42px;   /* 余白       */
	background    : #a6a6a6;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 3px 3px 1px #666666;  /* 影の設定 */
	border        : 2px solid #a6a6a6;    /* 枠の指定 */
}

/***inquireKBTorder.jsp
    inquireKBTsabun.jsp
    inquireKBTsubunAll.jsp***/
.juchu_waku,
.hinban_sum{
	clear: both;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	position: relative;
	right: 240px;
}

/***inquireKabusoku.jsp***/
.naiji_total{
	width: 80px;
}

/***inquireKBTorder.jsp***/
td.day1_qty, .day3_qty{
	background: #f5f5f5;
}

td.comfirm{
	background: #bbffff;
}

/***inquiKakuteiKikan.jsp***/
td.kikan{
	font-weight: bold;
	background: #bbffff;
}

td.border-none{
	border: none;
}

td.border-style{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}


button{
	font-size: 12px;
	padding: 0px 10px;
}

/***searchKBTorder.jsp***/
.search_juchu{
	width: 400px;
	padding-left: 30px;
	text-align: center;
}

table.order_search{
	height: 35px;
	border: solid 1px #CCC;

}

section.cntr{
	text-align: center;
}

table.center{
	margin: auto;
}

p.caption, caption.caption{
	font-weight: bold;
	text-align: left;
	color: #336;
	width: auto;
}

p.caption2{
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	color: #336;
	width: auto;
}

/***importKBTediComplete.jsp***/
p.complete{
	font-weight: bold;
	font-size: 18px;
	color: #336;
	width: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

/***error.jsp***/
p.error{
	font-weight: bold;
	font-size: 24px;
}

p.error1{
	font-weight: bold;
}

